@model Bank.Domain.Login.LoginEntity


@{
    ViewData["Title"] = "AddDoctor";



    var ResultData = ViewBag.Result as List<Exam.Domain.Sports.Spot>;
}
<script src="~/js/common.js"></script>
<script src="~/validation/validation.js"></script>
<style>
</style>
<div class="container position-sticky" style="background-color:forestgreen">
    <h1 style="padding-top:60px;">Meeting Schedule Management</h1>
    <div align="right" style="margin-top:-100px">
        <img src="/@ViewBag.Photo" style="height: 70px; width: 70px;" />
        <h1 style="margin: 0; ">@ViewBag.Name</h1>
    </div>


</div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-body">
                        <div class="container">

                            <div class="row mt-2 mb-2">
                                <div class="form-group col-sm-4">
                                    <label>Select Meeting Hall<span class="text-danger">*</span></label>
                                    <select id="Club" class="form-control" asp-items="@(new SelectList(ViewBag.Hall,"MeetingHallID","MeetingHallName"))">
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Select Date<span class="text-danger">*</span></label>
                                    <input type="date" id="dat" class="form-control"  onblur="BindSlot()" />

                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Selct Slot<span class="text-danger">*</span></label>
                                    <select id="slot" class="form-control">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>


                            <fieldset class="border-2">



                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-"></div>
                                    <div class="form-group col-sm-6">
                                        <button class="btn btn-success mb-1" id="btnSubmit">Submit</button>
                                        <button class="btn btn-danger mb-1" id="btnCancel">Reset</button>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <table class="table" id="table_slot">
            <thead>
                <tr>
                    <th>
                        Slot Name
                    </th>
                    <th>
                        SLOT-1
                    </th>
                    <th>
                        SLOT-2
                    </th>
                    <th>
                        SLOT-3
                    </th>
                    <th>
                        SLOT-4
                    </th>
                    <th>
                        SLOT-5
                    </th>
                    <th>
                        SLOT-6
                    </th>
                    <th>
                        SLOT-7
                    </th>
                    <th>
                        SLOT-8
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>




    <div class="form-group col-md-4">

        <input id="PatientID" class="form-control" hidden />
    </div>






    <!--===================================================-->
    <!-- END BASIC FORM ELEMENTS -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/validation/validation.js"></script>
    <script>
        $(document).ready(function () {
            //breadcumb
            var id = getUrlVars()["id"];
            if (id != undefined) {
                $("#btnSubmit").html("Update");
                $("#btnCancel").html("Cancel");

                Edit(id);
            }
        });


        function BindSlotDetail() {
            var loginuser = {
                MeetingHallID: $("#Club").val(),
                DateOfBooking_date: $("#dat").val()
            };
          
            $("#table_slot tbody tr").remove();
            $.getJSON("/Sport/SlotDetailBind", loginuser, function (data) {
                data = JSON.parse(data);
                if (data != null) {
                    $("#table_slot tbody").append(
                        `<tr><td>` + "Booked By" + `</td><td>` + data.Slot1 + `</td><td>` + data.Slot2 + `</td><td>` + data.Slot3 + `</td><td>` + data.Slot4 + `</td><td>` + data.Slot5 + `</td><td>` + data.Slot6 + `</td><td>` + data.Slot7 + `</td><td>` + data.Slot8 + `</td></tr>`
                    );
                }
            });
        }




        function BindSlot() {
            //const date1 = new Date();

            //let day = date1.getDate();
            //let month = date1.getMonth() + 1;
            //let year = date1.getFullYear();

            //// This arrangement can be altered based on how we want the date's format to appear.
            //let currentDate1 = `${day}-${month}-${year}`;
            //console.log(currentDate1); // "17-6-2022"

            const today = new Date();
            const yyyy = today.getFullYear();
            let mm = today.getMonth() + 1; // Months start at 0!
            let dd = today.getDate();

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            const formattedToday = yyyy + '-' + mm + '-' + dd;
            if (formattedToday > $("#dat").val()) {
                alert("Chosen date is must Be greater than Or Equal to current date.");
                
                return false;
            }


            $.ajax({
                url: "/Sport/BindSlot?MeetingHallID=" + $('#Club').val() + "&DateOfBooking=" + $('#dat').val(),
                type: "GET",
                success: function (result) {
                    data = JSON.parse(result);
                    var v = "<option value='101'>--Select--</option>";
                    $.each(data, function (i, item) {
                        v += "<option value=" + item.SlotID + ">" + item.SlotName + "</option>";
                    });
                    $("#slot").html(v);
                },
                error: function (error) {
                    jsonValue = jQuery.parseJSON(error.responseText);
                    bootbox.alert("Error : " + jsonValue);
                }
            });

            BindSlotDetail();
        }
      

        function validate() {
            if ($('#Club').val() == "0") {
                alert("Please Select Hall !");
                return false;
                $('#Club').focus();
            }

            else if ($('#dat').val() == "") {
                alert("Please Select Date !");
                return false;
                $('#dat').focus();
            }
            else if ($('#slot').val() == "101" ) {
                alert("Please Select Slot!");
                $('#slot').focus();
                return false;
            }
            else if ($('#slot').val() == "0") {
                alert("Chosen date is must Be greater than Or Equal to current date.");

               
                return false;
            }


            else
                return true;



        }
        function reset() {
            $('#Club').val("0");
            $("#dat").val("");
            $("#slot").val("0");

        }
        $("#btnCancel").click(function () { reset() });
        $("#btnSubmit").click(function () {
          

            var doc = {
                MeetingHallID: $("#Club").val(),
                DateOfBooking_date: $("#dat").val(),
                SlotID: $("#slot").val(),
            };
            if (validate()) {
                if (confirm('Do You Want To Save')) {

                $.ajax({
                    url: "/Sport/Add",
                    data: doc,
                    type: "POST",
                    success: function (result) {

                        alert(result);
                        BindSlotDetail();
                        BindSlotAgain();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
                }
         

           
        });

        function BindSlotAgain() {
            $.ajax({
                url: "/Sport/BindSlot?MeetingHallID=" + $('#Club').val() + "&DateOfBooking=" + $('#dat').val(),
                type: "GET",
                success: function (result) {
                    data = JSON.parse(result);
                    var v = "<option value='0'>--Select--</option>";
                    $.each(data, function (i, item) {
                        v += "<option value=" + item.SlotID + ">" + item.SlotName + "</option>";
                    });
                    $("#slot").html(v);
                },
                error: function (error) {
                    jsonValue = jQuery.parseJSON(error.responseText);
                    bootbox.alert("Error : " + jsonValue);
                }
            });
        }
      
        

           


        //UPDATE
        function Edit(id) {
            $("#btnSubmit").html('Update')
            $.ajax({
                url: "/Sport/MedicineGetById?id=" + id,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $("#PatientID").val(id);
                    $("#NAme").val(result.Applicant_name);
                    $("#Email").val(result.Email);
                    $("#Mobile").val(result.Mobile_no);

                    $.ajax({
                        url: "/Sport/GetSubCatByCId?clubid=" + result.club_id,
                        type: "GET",
                        success: function (result1) {
                            data = JSON.parse(result1);
                            var v = "<option value='0'>--Select--</option>";
                            $.each(data, function (i, item) {
                                v += "<option value=" + item.sport_Id + ">" + item.sprot_name + "</option>";
                            });
                            $("#Sports").html(v);
                            $("#Sports").val(result.sport_Id);

                        },
                        error: function (error) {
                            jsonValue = jQuery.parseJSON(error.responseText);
                            bootbox.alert("Error : " + jsonValue);
                        }
                    });

                    // $("#Gender").val(result.Gender);

                    $('input[type="radio"]').each(function () {
                        if ($(this).val() == result.Gender) {
                            $(this).attr('checked', 'checked');
                        }
                    });
                    $("#dob").val(result.dob);
                    $("#Club").val(result.club_id);
                    $("#img").attr("src", "../" + result.image_path);


                },
                //error: function (errormessage) {
                //    alert(errormessage.responseText);
                //}
            });
            return false;
        }


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Image").change(function () {
            readURL(this);
        });



        //DELETE

    </script>
